#board {
    border: solid 2px #000;
    max-width: 500px;
    width: calc(100% - 4px);
    aspect-ratio: 1 / 1;
    margin: 0px auto;
    display: grid;

    .stones {
        display: flex;

        .stone {
            background: #3c3;
            flex-grow: 1;
            border: solid 1px #000;
            position: relative;
            display: flex;

            &:after {
                content: '';
                display: block;
                width: 75%;
                height: 75%;
                margin: auto;
                border-radius: 50%;
            }
            &[data-color="1"]:after {
                background: #fff;
            }
            &[data-color="2"]:after {
                background: #000;
            }
        }
    }
}
